* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.top {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    min-width: 1175px;
    padding: 40px 372px 100px;
    background: white;
}

.header {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    padding-right: 9px;
}

.header__logo {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.header__menu {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.logo__photo {
    box-sizing: border-box;
    display: block;
    width: 35px;
    max-width: initial;
    height: 40px;
    border: none;
    object-fit: cover;
}

.logo__text {
    box-sizing: border-box;
    display: block;
    width: 86px;
    max-width: initial;
    height: 17.5px;
    margin-left: 15px;
}

.header__menu1 {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: flex-start;
}

.menu__home {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    font: 600 14px Inter, sans-serif;
    color: #f25822;
}

.menu__nav {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    font: 400 14px Inter, sans-serif;
    color: black;
}

.svg__checkmark {
    display: flex;
    flex: 0 0 auto;
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

.header__menu2 {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: flex-start;
    margin-left: 33px;
}

.content {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 84px;
}

.left__content {
    flex: 0 0 auto;
}

.title {
    width: 558px;
    padding: 0;
    margin: 0;
    font: 700 60px/72px Inter, sans-serif;
    color: black;
    text-align: left;
}

.text {
    width: 558px;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    font: 400 20px/28px Inter, sans-serif;
    color: #888888;
    text-align: left;
}

.content__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 32px;
}

.start__button {
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    width: 140px;
    min-width: 140px;
    height: 51px;
    font: 600 16px Inter, sans-serif;
    color: white;
    cursor: pointer;
    background: #f25822;
    border: none;
    border-radius: 56px;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
}

.watch__button {
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    width: 140px;
    min-width: 140px;
    height: 51px;
    font: 600 16px Inter, sans-serif;
    color: #aaaaaa;
    cursor: pointer;
    background: white;
    border: none;
    border-radius: 56px;
}

.right__content {
    box-sizing: border-box;
    display: block;
    width: 545px;
    max-width: initial;
    height: 375px;
    border: none;
    object-fit: cover;
}

.footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 1920px;
    background: white;
}

.footer__images {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 48px;
    align-items: center;
    justify-content: space-between;
    min-width: 1174px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.images {
    box-sizing: border-box;
    display: block;
    width: 160px;
    max-width: initial;
    height: 50px;
    border: none;
    object-fit: cover;
}